<div class="billing-details">
    <div class="section-title">
        <h3 class="title">Tiện ích</h3>
    </div>
    <div class="aside">
        <div class="list-group">
            <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action">Hồ sơ người dùng</a>
            <a href="#" class="list-group-item list-group-item-action">Đăng ký bán hàng</a>
            <a href="{% url 'shipper' %}" class="list-group-item list-group-item-action">Đăng ký trở thành giao hàng</a>
            <a href="{% url 'user_order' %}" class="list-group-item list-group-item-action">Sản phẩm đã mua</a>
            <a href="{% url 'comment' %}" class="list-group-item list-group-item-action">Bình luận</a>
            <a href="{% url 'logout' %}" class="list-group-item list-group-item-action">Đăng xuất</a>
          </div>
</div>
</div>