{% load static %}

<footer class="section-footer border-top">
    <div class="container-fluid">
        <section class="footer-bottom border-top row">
            <div class="col-md-12 text-md-center">
                <span class="px-2 border-right"><a href="" style="color: black;">Liên hệ</a></span>
                <span class="px-2 border-right"><a href="" style="color: black;">Tuyển dụng</a></span>
                <span class="px-2 border-right"><a href="" style="color: black;">Giới thiệu</a></span>
                <span class="px-2 "><a href=""><i class="fab fa-facebook-f"></i></a></span>
                <span class="px-2 "><a href=""><i class="fab fa-instagram"></i></a></span>
            </div>
        </section>
        <section class="footer-bottom row">
            <div class="col-md-12 text-md-center">
                <span class="px-2">Thông tin liên hệ trang web chủ quản</span><br>
                <span class="px-2">Đặt hàng online: 0123456789</span>
            </div>
        </section>
        <section class="footer-bottom row bg-info text-white">
            <div class="col-md-12 text-md-center ">
                <span class="px-2 "><b>Covidmart - An toàn mùa dịch</b></span><br>
            </div>
        </section>
    </div>
</footer>